@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", "roboto", system-ui;
}

.dash-central {
    display: grid;
    grid-template-columns: 1fr 2.9fr;
}

.dashboard {
    color: white;
    background-color: #1992d4;
    font-weight: 650;
    font-size: 18px;
    padding: 20px 10px 30px 20px;
}

.dashboard > div a:link {
    text-decoration-line: none;
}
.dashboard > div a:visited {
    color: white;
}

.dashboard > div img {
    margin: 8px 20px -5px 0;
    padding-top: 6px;
}

.dashboard > :nth-child(1) {
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}

.dashboard > :nth-child(8) {
    padding-top: 30px;
}
/*
.header1 {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.header2 {
    display: grid;
    grid-template-columns: 1fr 3fr repeat(3, 1fr);
}*/

.header {
    display: grid;
    grid-template-columns: 60% 10% 10% 20%;
    grid-template-rows: 10%;
    grid-auto-rows: 15%;
    grid-auto-columns: 1fr 2fr 1fr 1fr 1fr;
}

label {
    margin: 10px 5px 10px 20px;
    padding-top: 10px;
}

input {
    width: 80%;
}