@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Flex", "roboto", system-ui;
}

.dash-central {
    display: grid;
    grid-template-columns: 0.7fr 4fr;
}

.dashboard {
    color: white;
    background-color: #1992d4;
    font-weight: 650;
    font-size: 18px;
    padding: 20px 10px 30px 20px;
}

.dashboard > div a:link {
    text-decoration-line: none;
}
.dashboard > div a:visited {
    color: white;
}

.dashboard > div img {
    margin: 8px 20px -5px 0;
    padding-top: 6px;
}

.dashboard > :nth-child(1) {
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
}

.dashboard > :nth-child(8) {
    padding-top: 30px;
}
/*
.header1 {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.header2 {
    display: grid;
    grid-template-columns: 1fr 3fr repeat(3, 1fr);
}*/

.header {
    display: grid;
    grid-template-columns: 50% 10% 10% 0.99fr; /* 2 columns with fixed width of 100px each */
    grid-auto-columns: 5%; /* meaning any additional columns created implicitly (beyond the two defined) will have a width of 50px */
    grid-template-rows: 10%;
    grid-auto-rows: 17%;
    padding: 20px 10px -15px 30px;
    margin-top: 10px;
    border-bottom: 2px solid black;
}

label {
    margin: 10px 5px 10px 20px;
    padding-top: 10px;
}

input {
    width: 80%;
    height: 80%;
    border-radius: 30px;
    border-style: none;
    border: 1px solid none;
    background-color: gray;
    color: white;
}

#image-profile2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: center;
    padding-left: 10px;
    margin-right: -80px;
}

#saluto {
    padding-left: 40px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
    align-self: center;
}

#novità {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    width: 100px;
    margin: 20px;
    background-color: #1992d4;
    color: white;
}

#name-top {
    text-align: end;
    padding-right: 40px;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#image-profile1 {
    justify-self: center;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.central-everything {
    display: grid;
    grid-template-columns: 70% 30%;
}

.central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(207, 207, 207);
}

.central > div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    border-left: 6px solid #efb429;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
}

.project-icons {
    text-align: end;
    padding: 60px 30px 20px 0;
}

.project-icons > img {
    margin-right: 20px;
}

#notifiche {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#upload {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#share {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.central-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(207, 207, 207);
    font-size: calc(12px - 0.1em);
}

.central-top > h1:nth-child(1) {
    justify-self: left;
    padding: 20px 0 10px 30px;
}

.central-top > h1:nth-child(2) {
    justify-self: right;
    padding: 20px 35% 10px 0;
}

.central-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10% 1fr;
    background-color: rgb(207, 207, 207);
}

.announcement {
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    margin: 20px 30px 40px 5px;
}

.announcement > h2 + p {
    border-bottom: 2px solid rgb(207, 207, 207);
    padding: 10px 20px 20px 10px;
    margin-bottom: 20px;
}

.trending-profiles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    margin: 20px 30px 40px 5px;
}

.trending-profiles > div {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(207, 207, 207);
    align-items: center;
}

.trending-profiles > div p {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
}

.trending-profiles > div img {
    width: 10%;
    margin-right: 5px;
}

.trending {
    font-size: calc(12px - 0.1em);
}